.phonebook-form {
  display: flex;
  flex-direction: column;
  align-items: center;
border: 1px solid #8f8e8e; 
  padding: 10px;
  margin-bottom: 10px; 
  width: 250px;

}

.phonebook-input {
  border: 1px solid #ccc; 
  padding: 10px;
  margin-bottom: 10px; 
}
.input-title{
    margin: 0;
}

.phonebook-button {
  background-color: #0074d9; 
  color: #fff; 
  border: none;
  padding: 10px 20px;

}

.phonebook-button:hover {
  background-color: #0056b3; 
}